// Mixins
@mixin box($bgc) {
    margin: 0.5%;
    padding: 1em;
    border-radius: 15px;
    background-color: $bgc;
    color: $txtColor;
}

// STYLES
* {
    margin: 0;
    padding: 0;
}

body {
    @include flexContainer(1);
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    background-color: $bgColor;
    font-family: benveno;
}

header {
    @include box($shadowColor);
    width: 100%;
}

aside {
    @include flexi(1);
    @include box($shadowColor);
}

main {
    @include box($shadowColor);
    @include flexi(2);
    @include flexContainer(1);
    max-width: 100%;
    
    article {
        @include flexi(100%);
        @include box($bgColor);
        
        picture img {
            max-width: 100%;
        }
    }
}

footer {
    @include box($shadowColor);
    width: 100%;
    
    div {
        @include flexContainer(1);
        
        div {
            @include flexi(1);
            @include box($bgColor);
        }
    }
}

// MEDIA QUERIES
@media screen and (max-width: 500px) {
    footer {
        div {
            div {
                @include flexi(100%);
            }
        }
    }
}

@media screen and (max-width: 700px) {
    aside {
        @include flexi(100%);
    }
    main {
        @include flexi(100%);
    }
}
