// Mixins
// mixin de las características básicas de cada elemento
// $bgc es el color de fondo (background-color)

@mixin box($bgc) {
    margin: 0.5%;
    padding: 1em;
    border-radius: 15px;
    background-color: $bgc;
    color: $txtColor;
}

// STYLES
* {
    margin: 0;
    padding: 0;
}

body {
    @include flexContainer(1);
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    background-color: $bgColor;
    font-family: benveno;
    text-align: justify;
    text-justify: inter-word;
}

header {
    @include flexContainer(0);
    @include box($shadowColor);
    align-items: center;
    width: 100%;
    
    .logo {
        @include flexi(1);
        margin-right: 1.5rem;
        
        img {
            max-width: 100%;
        }
    }
    
    h1 {
        @include flexi(7);
    }
}

aside {
    @include flexi(1);
    @include box($shadowColor);
    align-items: stretch;
    
    p {
        @include flexi(100%);
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

main {
    @include flexi(3);
    @include flexContainer(1);
    @include box($shadowColor);
    max-width: 100%;
    
    article {
        @include flexi(100%);
        //@include flexContainer(1);
        @include box($bgColor);
        
        h2 {
            margin-bottom: 1.5rem;
        }
        
        figure {
            margin-bottom: 1rem;
        }
        
        figure picture img, picture img {
            @include flexi(100%);
            max-width: 100%;
        }
        
        video {
            max-width: 100%;
            height: auto;
        }
        
        div ul {
            list-style-type: square;
            list-style-position: inside;
            
            li {
                margin-left: 1rem;
            }
        }
    }
}

footer {
    @include box($shadowColor);
    width: 100%;
    
    div {
        @include flexContainer(1);
        
        div {
            @include flexi(1);
            @include box($bgColor);
            text-decoration: underline;
            cursor: pointer;
            
            &:hover, &:focus {
                background-color: $txtColor;
                color: $bgColor;
            }
        }
    }
}
