//  Estilos de la barra de navegación
//mejorar con hover

nav {
    @include box($shadowColor);
    width: 100%;
    
    ul {
        @include flexContainer(1);
        list-style: none;
        
        li {
            @include flexi(1);
            @include box($bgColor);
            text-decoration: underline;
            cursor: pointer;
        
            &:hover, &:focus {
                background-color: $txtColor;
                color: $bgColor;
            }
        }
    }
}
