//  Primary color 
//  Se emplea como text/main: #F2C4DF
$txtColor: #F2C4DF;

//  Primary color 
//  Se usa como color de background: #1D1D1D
$bgColor: #1D1D1D;

//  Primary color 
//  Se emplea para bordes: #AF146F
$borderColor: #AF146F;

//  Primary color 
//  Se emplea como sombreado/decoración: #540031
$shadowColor: #540031;

//  Hipervínculos: #FF46DC
$hvColor: #FF46DC;

//  Hipervínculos visitados: #D95BA5
$hvvColor: #D95BA5;
