//  Primary color 0 (Text/main): #F2C4DF
//  Primary color 1 (bordes): #AF146F
//  Primary color 2 (sombreado/decoración): #540031
//  Primary color 3 Background: #1D1D1D
//  Hipervínculos: #FF46DC
//  Hipervínculos visitados: #D95BA5

$txtColor: #F2C4DF;
$borderColor: #AF146F;
$shadowColor: #540031;
$bgColor: #1D1D1D;
$hvColor: #FF46DC;
$hvvColor: #D95BA5;
