// Mixins
// mixin de las características básicas de cada elemento
@mixin box($margin) {
    margin: $margin;
    border-radius: 15px;
}

// STYLES
* {
    margin: 0;
    padding: 0;
}

body {
    @include flexContainer(1);
    margin: 0 auto;
    //padding: 1em;
    width: 90%;
    font-family: LatoLatinWeb;
    text-align: justify;
    text-justify: inter-word;
}

header {
    @include flexContainer(1);
    @include box($mrgn);
    align-items: center;
    width: 100%;
    background-color: $bgColor;
    
    .logo {
        @include flexi(1);
        margin-right: 1.5rem;
        margin-left: 1rem;
        
        img {
            max-width: 100%;
        }
    }
    
    h1 {
        @include flexi(5);
    }
}

main {
    @include flexi(3);
    @include flexContainer(1);
    @include box($mrgn);
    max-width: 100%;
    
    article {
        @include flexi(100%);
        @include flexContainer(1);
        @include box($mrgn);
        
        section {
            @include flexi(1);
            margin: 0.7rem;
            
            h1 {
                font-size: 220%;
            }
            
            h2 {
                text-transform:uppercase;
            }
        }
        
        figure.imgTxt picture img {
            max-width: 25%;
            margin-left: 0.55rem;
            margin-bottom: 0.2rem;
            float: right;
        }
        
        figure.carrusel {
            width: 80%;
            margin: 0 auto;
            
            picture img {
                max-width: 100%;
                float: none;
            }
        }
        
        video {
            max-width: 100%;
            height: auto;
        }
    }
}

footer {
    @include box($mrgn);
    width: 100%;
    padding: 1rem;
    background-color: $navColor;
    text-align: left;
    
    div {
        @include flexContainer(1);
        
        div {
            @include flexi(1);
            @include box($mrgn);
            
//            &:hover, &:focus {
//            }
        }
        
        div.copyright {
            @include flexi(100%);
            
            a {
                margin: 0 auto;
            }
        }
    }
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1.5rem;
    font-family: JosefinSlab;
    color: $hColor;
}

form {
    @include flexi(100%);
    @include flexContainer(1);
    //flex-flow: column;
    
    label {
        @include flexi(30%);
        text-align: right;
    }
    
    input {
        @include flexi(65%);
        margin-bottom: 2rem;
    }
    
    textarea {
        @include flexi(65%);
        height: 20rem;
    }
    
    button {
        margin-top: 2rem;
        margin-left: 50%;
        padding: 1rem;
        border-radius: 15px;
        border:  2px solid $bgColor;
        background-color: $bgColor;
        
        &:active {
            background-color: white;
        }
    }
}

p {
    margin-bottom: 1.2rem;
}

a {
    color: $hvColor;
    
    &:visited {
        color: $hvvColor;
    }
}

.rightTxt {
    text-align: right;
}

.centradoHV {
    @include flexContainer(0);
    justify-content: center;
    align-items: center;
}

.formContainer {
    max-width: 80%;
}
