//  Estilos de la barra de navegación
//mejorar con hover

nav {
    @include flexi(100%);
    @include box(0);
    padding: 1rem;
    background-color: $navColor;
    
    ul {
        list-style: none;
        
        li {
            //@include flexi(1);
            @include box(0.5rem);
            display: inline;
            
            details {
                position: relative;
                display: inline;
                
                div {
                    @include box(0.5rem);
                    position: absolute;
                    padding: 1rem;
                    background-color: $navColor;
                    
                    ul {
                        position: relative;
                        list-style: square inside;
                        line-height: 2rem;
                        
                        li {
                            padding: 0.2rem;
                        }       
                    } 
                }
            }
            
            &.logo {
                display: none;
            }
        }
    }
}
