// MEDIA QUERIES

// Media query para dispositivos pequeños (máximo 500px)

@media screen and (max-width: 500px) {
    body {
        max-width: 100%;
        width: 100%;
    }
    
    header {
        border-radius: 0px;
        background-color: $bgColor !important;
        
        .logo {
            display: block !important;
            @include flexi(25%);
            max-width: 25%;
            margin: 0 auto;
            margin-bottom: -2.5rem;
            z-index: 2;
        }
        
        #burguer {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
            z-index: 1;
            text-align: right;
            background-color: $bgColor;
            
            details {
                summary{
                    list-style: none;
                    
                    &::-webkit-details-marker { 
                        display:none;
                    }
                }
                
                div ul {
                    z-index: 999999;
                }
            }
            
            ul {
                padding: 1.2rem;
                list-style: none;
                font-size: 1.5rem;
                
                li {
                    padding: 0.5rem;
                }
            }
        }
    }
    
    main>article>section>figure.carrusel {
        width: 100%;
    }

    nav {
        margin: 0 auto !important;
        height: auto !important;
        background-color: $navColor !important;
        border-radius: 0px;
        
        ul {
            display: none !important;
            
            li {
//                @include flexi(100%);
            }
        }
    }
    
    footer {
        border-radius: 0px !important;
        
        div {
            div {
                margin: 0 auto;
            }
        }
    }
    
    form {
        width: 100%;
        
        label{
            text-align: left;
        }
        
        textarea {
            @include flexi(100%);
        }
        
        button {
            margin: 2rem auto;
        }
    }
    
    .formContainer {
        max-width: 100%;
    }

    #contacto, #horario {
        display: none;
    }
    
    #copyright {
        @include flexi(1 !important);
    }
}

// Media query para dispositivos medianos (máximo 870px)

@media screen and (max-width: 870px) {
    header {
        background-color: transparent;
        
        h1 {
            display: none;
        }
        
        .logo {
            display: none;
        }
    }
    
    nav {
        margin-top: 1rem;
        height: 3rem;
        background-color: $bgColor;
    
        ul{
            @include flexContainer(0);
            
            li {
                @include flexi(1);
            }
            
            li.logo {
                display: inline;
                a img {
                    margin-top: -2rem;
                    z-index: 1;
                }
            }
        } 
    }
    
    main {
        article {
            flex-direction: column-reverse; 
            
            section {
                max-width: 100%;
                margin-left: 1rem auto;
                margin-right: 1rem auto;
                
                h2.rightTxt {
                    text-align: left;
                }
            }
            
            section.centradoHV {
                max-width: 100%;
                //width: 100%;
                
                video {
                    max-width: 100%;
                }
            }
            
            figure.imgTxt picture img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
                max-height: 15rem;
                float: none;
            }
        }
    }
    
}

