// MEDIA QUERIES

// Media query para dispositivos pequeños (máximo 500px)

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }

    nav {
        ul {
            li {
                @include flexi(100%);
            }
        }
    }
    
    main {
        article {
            flex-direction: column-reverse; 
            
            section {
                @include flexi(100%);
                margin-left: 1rem auto;
                margin-right: 1rem auto;
                
                h2.rightTxt {
                    text-align: left;
                }
            }
            
            section.centradoHV {
                display: block;
            }
            
            figure.imgTxt picture img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
                max-height: 15rem;
                float: none;
            }
        }
    }
    
    footer {
        border-radius: 0px !important;
        
        div {
            div {
                @include flexi(100%);
            }
        }
    }
    
    form {
        width: 100%;
        
        label{
            text-align: left;
        }
        
        textarea {
            @include flexi(100%);
        }
        
        button {
            margin: 2rem auto;
        }
    }
    
    .formContainer {
        max-width: 100%;
    }

}

// Media query para dispositivos medianos (máximo 870px)

@media screen and (max-width: 870px) {
    
}

