//  Para resaltar los encabezados se emplea #674400
$hColor: #674400;

//  Se emplea como sombreado/decoración: #F98365
$shadowColor: #F98365;

//  Se usa como color de background de cabecera, para botones y para el borde de los formularios: #A1DFFB
$bgColor: #A1DFFB;

//  Se emplea como fondo del pie de página y del menú de navegación: #F9DE59
$navColor: #F9DE59;

//  Hipervínculos: #B42215
$hvColor: #B42215;

//  Hipervínculos visitados: #A72973
$hvvColor: #A72973;

// Margen por defecto
$mrgn: 0.5%;
